body {
  height: 750px;
  width: 1500px;
  background: url("fond.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: sans-serif;
}
}
header {
  margin: 0%;
  width: 1500px;
  height: 250px;
  background:none;
}

#logo>img {
 height: 100px;
 margin-left:700px;

}
#welcome {
 width: 1500px;
 height: 100px;
 margin-bottom:  100px;
 font-size: 80px; 
 color:rgba(105, 162, 216, 0.986);
 text-align: center;
 font-family: sans-serif;
 word-spacing: 5px;
 letter-spacing: 4px;
}
main {
 width: 1500px;
 height: 80px;
 background:none;
}
marquee {
  font-size: 40px;
  color:white;
  text-align: center;
  text-shadow: 8px 5px 5px black;
  word-spacing: 5px;
  letter-spacing: 5px;
}
footer {
  width: 1500px;
  height: 310px;
  background:no-repeat;
  margin-top: 80px;
  margin-right:0px;
 }
 #conteneur {
   margin-left:160px;
   display: inline-block; 
   text-align: center;
   background-size: 100% 100%;
 }

#conteneur1 {
 width: 220px;
 height: 200px;
 display: inline-block;
 margin: 10px;
 background-size: 100% 100%;
 border-radius: 30%;
 }

#texte {
  color: white;
}
img {
  border-radius: 2%;
}

