body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  }
  #menu {
   float: left;
   margin: -16px 20px 0px -8px;
  }
  #retour {
    float: top ;
    margin:0px 0px 0px 1000px;   
  }
  li {
    display: inline-block;
    margin:0px 10px;
    color: black;
  }
  li:hover {
    text-decoration: underline;
  }
  main {
    margin-top: 60px;
  }
  video {
    margin: 0px 0px 0px 550px;
  }
  footer {
    margin-bottom: 10px;
    font-size: 55px;
    background: url("fond2.jfif");
    background-size: cover;
  }